.node-red/flows.json
[{"id":"d9645a6.372faa8","type":"tab","label":"ui app","disabled":false,"info":"Flow responsible for creating the webinterface for the dashboard."},{"id":"7d52ee69.f1d72","type":"tab","label":"db app","disabled":false,"info":"Flow responsible for inserting data into the database."},{"id":"ddfdba3e.351a78","type":"subflow","name":"Reset Database","info":"","category":"","in":[{"x":300,"y":180,"wires":[{"id":"a7129481.3169a8"},{"id":"9f9a50dc.d44a9"}]}],"out":[],"env":[],"icon":"node-red/mongodb.png"},{"id":"62b1530c.a9ae5c","type":"mqtt-broker","z":"","name":"AllThingsTalk Network","broker":"api.allthingstalk.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f1ec656.7ea5c8","type":"mongodb","z":"","hostname":"ds147946.mlab.com","port":"47946","db":"heroku_lxbcdtk9","name":"Heroku MongoDB"},{"id":"7e8160c6.56347","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"PXL","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#f9f9f9","edited":true},"page-sidebar-backgroundColor":{"value":"#f9f9f9","edited":true},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#f9f9f9","edited":true},"group-backgroundColor":{"value":"#f9f9f9","edited":true},"widget-textColor":{"value":"#6b7d89","edited":true},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PXL Air Quality Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY-MM-DD","sizes":{"sx":200,"sy":200,"gx":5,"gy":5,"cx":5,"cy":5,"px":0,"py":0}}},{"id":"d6512093.928","type":"ui_tab","z":"","name":"PINBOARD","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"da789ad0.101908","type":"ui_tab","z":"","name":"PULSE","icon":"fa-heartbeat","order":2,"disabled":false,"hidden":false},{"id":"cc06eff9.adb0e","type":"ui_tab","z":"","name":"DEVICES","icon":"fa-plug","order":3,"disabled":false,"hidden":false},{"id":"b333b476.2ab6a8","type":"ui_group","z":"","name":"space1","tab":"d6512093.928","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a829f57.12e84","type":"ui_group","z":"","name":"gauges","tab":"d6512093.928","order":2,"disp":false,"width":"1","collapse":false},{"id":"e9279114.78348","type":"ui_group","z":"","name":"time chart","tab":"d6512093.928","order":3,"disp":false,"width":"4","collapse":false},{"id":"9a75f25a.68a1c","type":"ui_group","z":"","name":"map","tab":"d6512093.928","order":4,"disp":false,"width":"3","collapse":false},{"id":"adf4484e.ce3328","type":"ui_tab","z":"","name":"CONTROLS","icon":"fa-gamepad ","order":4,"disabled":false,"hidden":false},{"id":"f7945b2d.9d26a8","type":"ui_group","z":"","name":"temperature","tab":"adf4484e.ce3328","order":1,"disp":true,"width":"1","collapse":false},{"id":"dcb80e1f.10b8e","type":"ui_group","z":"","name":"database","tab":"adf4484e.ce3328","order":2,"disp":true,"width":"6","collapse":false},{"id":"d7377e8f.e3cfa","type":"ui_group","z":"","name":"humidity","tab":"adf4484e.ce3328","order":3,"disp":true,"width":"6","collapse":false},{"id":"226903ad.234f1c","type":"ui_group","z":"","name":"pressure","tab":"adf4484e.ce3328","order":4,"disp":true,"width":"6","collapse":false},{"id":"9b43a031.929a7","type":"ui_group","z":"","name":"particle_sensor","tab":"adf4484e.ce3328","order":5,"disp":true,"width":"6","collapse":false},{"id":"8d617e50.a874d","type":"mongodb out","z":"7d52ee69.f1d72","mongodb":"6f1ec656.7ea5c8","name":"Heroku MongoDB","collection":"","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":950,"y":420,"wires":[]},{"id":"809e6d65.b9909","type":"mqtt in","z":"7d52ee69.f1d72","name":"AllThingsTalk Broker","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":490,"y":420,"wires":[["7c7c9ecd.d5b47"]]},{"id":"7c7c9ecd.d5b47","type":"function","z":"7d52ee69.f1d72","name":"addCollection","func":"/* Filter out the device asset. */\nmsg.collection     = msg.topic.split('/')[3];\n\n/* Convert the message to a JSON object and return */\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":420,"wires":[["8d617e50.a874d","a4e7abe7.b66d08"]]},{"id":"4e2f22a6.42535c","type":"inject","z":"7d52ee69.f1d72","name":" ","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":240,"wires":[["c385f015.ffa2c"]]},{"id":"b16ad0dd.d9ce5","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove particle_sensor","collection":"particle_sensor","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":710,"y":180,"wires":[]},{"id":"616c1262.fe87dc","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove gps","collection":"gps","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":670,"y":220,"wires":[]},{"id":"8cf16a30.9073b8","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove motion","collection":"motion","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":680,"y":260,"wires":[]},{"id":"f0c239b.bbf8bc8","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove air_quality","collection":"air_quality","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":690,"y":300,"wires":[]},{"id":"c48cb463.92fdb8","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove light","collection":"light","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":670,"y":340,"wires":[]},{"id":"53d67903.818378","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove loudness","collection":"loudness","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":690,"y":380,"wires":[]},{"id":"962a20d2.1831e","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove humidity","collection":"humidity","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":690,"y":420,"wires":[]},{"id":"a4aa43b1.e7fb9","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove pressure","collection":"pressure","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":690,"y":460,"wires":[]},{"id":"45b8a130.5ef28","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove temperature","collection":"temperature","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":700,"y":500,"wires":[]},{"id":"1b3a989d.63edb7","type":"mongodb out","z":"ddfdba3e.351a78","mongodb":"6f1ec656.7ea5c8","name":"Remove counter","collection":"counter","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":680,"y":540,"wires":[]},{"id":"c385f015.ffa2c","type":"subflow:ddfdba3e.351a78","z":"7d52ee69.f1d72","name":"","x":660,"y":240,"wires":[]},{"id":"a7129481.3169a8","type":"function","z":"ddfdba3e.351a78","name":"clearMsg","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["b16ad0dd.d9ce5","616c1262.fe87dc","8cf16a30.9073b8","f0c239b.bbf8bc8","c48cb463.92fdb8","53d67903.818378","962a20d2.1831e","a4aa43b1.e7fb9","45b8a130.5ef28","1b3a989d.63edb7"]]},{"id":"f4e06153.228d1","type":"comment","z":"7d52ee69.f1d72","name":"Connect to Broker","info":"This node will connect to the AllThingsTalk MQTT Broker.\nIt will output the information about the assets as it comse in.","x":490,"y":380,"wires":[]},{"id":"b01450b7.b5c9d","type":"comment","z":"7d52ee69.f1d72","name":"addCollection","info":"This node will filter out the asset name of the incoming message and add it to \nthe message as \"collection\" so that when the message is returned the database node\ncan use it to insert it into the right place.","x":710,"y":380,"wires":[]},{"id":"4df8cd20.042a34","type":"comment","z":"7d52ee69.f1d72","name":"MongoDB Insert","info":"This node will insert to payload of the incoming message\ninto the right place.","x":940,"y":380,"wires":[]},{"id":"a4e7abe7.b66d08","type":"debug","z":"7d52ee69.f1d72","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":480,"wires":[]},{"id":"9f9a50dc.d44a9","type":"function","z":"ddfdba3e.351a78","name":"resetSuccess","func":"msg.payload = \"Reset success.\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["7ca6ed90.3e6714"]]},{"id":"7ca6ed90.3e6714","type":"debug","z":"ddfdba3e.351a78","name":"debug.log()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"e8eb7c57.3381a","type":"comment","z":"7d52ee69.f1d72","name":"Reset the MongoDB Database","info":"When this flow is activated the database will be cleared.\nThis is usefull when the database hits a point where it is full.\nOr it is desired to restart from a fresh database.","x":580,"y":200,"wires":[]},{"id":"9bd3b3a0.cc7d2","type":"worldmap","z":"d9645a6.372faa8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","path":"/worldmap","x":980,"y":940,"wires":[]},{"id":"1ff3e839.68a728","type":"ui_template","z":"d9645a6.372faa8","group":"9a75f25a.68a1c","name":"worldmap","order":0,"width":"3","height":"3","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":900,"wires":[[]]},{"id":"e858b23.352925","type":"function","z":"d9645a6.372faa8","name":"","func":"let lat = msg.payload.value['latitude'];\nlet lon = msg.payload.value['longitude'];\nlet alt = msg.payload.value['altitude'];\n\nmsg.payload = {\n    lat:lat, \n    lon:lon, \n    icon:\"bicycle\",\n    iconColor:\"#58a518\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":940,"wires":[["9bd3b3a0.cc7d2"]]},{"id":"d23390fb.515a5","type":"template","z":"d9645a6.372faa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" frameborder=\"0\" allowfullscreen style=\"position:absolute;top:0;left:0;width:100%;height:100%;\"></iframe>","output":"str","x":780,"y":900,"wires":[["1ff3e839.68a728"]]},{"id":"aa2238d8.1f4268","type":"ui_gauge","z":"d9645a6.372faa8","name":"temperature gauge","group":"8a829f57.12e84","order":0,"width":"1","height":"1","gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"56.7","colors":["#61717b","#61717b","#61717b"],"seg1":"","seg2":"","x":1010,"y":100,"wires":[]},{"id":"36bd56a0.48ad6a","type":"ui_chart","z":"d9645a6.372faa8","name":"temperature chart","group":"e9279114.78348","order":0,"width":"4","height":"1","label":"temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#61717b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":140,"wires":[[]]},{"id":"6b2fe404.cdc47c","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"function floorDecimals(value, decimals) { \n    return Number(Math.floor(value+'e'+decimals)+'e-'+decimals); \n}\n\nmsg.payload = (floorDecimals(msg.payload.value, 2));\nmsg.topic   = \"temperature\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":100,"wires":[["aa2238d8.1f4268","36bd56a0.48ad6a"]]},{"id":"b94fef8e.bd57c","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/temperature","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/temperature/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":450,"y":100,"wires":[["6b2fe404.cdc47c"]]},{"id":"8c6eaa52.bb0d28","type":"function","z":"d9645a6.372faa8","name":"","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["36bd56a0.48ad6a","aa2238d8.1f4268"]]},{"id":"2f5c503b.4824f","type":"ui_button","z":"d9645a6.372faa8","name":"reset chart","group":"f7945b2d.9d26a8","order":1,"width":"1","height":"1","passthru":false,"label":"reset chart","tooltip":"Resets temperature chart.","color":"","bgcolor":"","icon":"fa-exclamation-triangle ","payload":"","payloadType":"str","topic":"","x":530,"y":140,"wires":[["8c6eaa52.bb0d28"]]},{"id":"f9048143.34ec1","type":"ui_gauge","z":"d9645a6.372faa8","name":"humidity gauge","group":"8a829f57.12e84","order":0,"width":"1","height":"1","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#61717b","#61717b","#61717b"],"seg1":"","seg2":"","x":1000,"y":280,"wires":[]},{"id":"f902807.123ab8","type":"ui_chart","z":"d9645a6.372faa8","name":"humidity chart","group":"e9279114.78348","order":0,"width":"4","height":"1","label":"humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#61717b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":320,"wires":[[]]},{"id":"7f3e4913.d5f7e8","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"function floorDecimals(value, decimals) { \n    return Number(Math.floor(value+'e'+decimals)+'e-'+decimals); \n}\n\nmsg.payload = (floorDecimals(msg.payload.value, 2));\nmsg.topic   = \"humidity\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["f9048143.34ec1","f902807.123ab8"]]},{"id":"cbdaf977.1d6558","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/humidity","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/humidity/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":440,"y":280,"wires":[["7f3e4913.d5f7e8"]]},{"id":"cbb8771.b21f188","type":"function","z":"d9645a6.372faa8","name":"","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["f902807.123ab8","f9048143.34ec1"]]},{"id":"6b1acd59.8c8704","type":"ui_button","z":"d9645a6.372faa8","name":"reset chart","group":"d7377e8f.e3cfa","order":1,"width":"1","height":"1","passthru":false,"label":"reset chart","tooltip":"Resets humidity chart.","color":"","bgcolor":"","icon":"fa-exclamation-triangle ","payload":"","payloadType":"str","topic":"","x":510,"y":320,"wires":[["cbb8771.b21f188"]]},{"id":"2fdd59c9.17d6f6","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- temperature -------------------------------------------------","info":"","x":700,"y":60,"wires":[]},{"id":"26c10584.fdf7ea","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- humidity -------------------------------------------------","info":"","x":690,"y":240,"wires":[]},{"id":"f2abdb3f.c2b1c8","type":"ui_chart","z":"d9645a6.372faa8","name":"pressure chart","group":"e9279114.78348","order":0,"width":"4","height":"1","label":"pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#61717b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":500,"wires":[[]]},{"id":"27d8418a.ce6d9e","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"function floorDecimals(value, decimals) { \n    return Number(Math.floor(value+'e'+decimals)+'e-'+decimals); \n}\n\nmsg.payload = (floorDecimals(msg.payload.value, 2));\nmsg.topic   = \"pressure\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["f2abdb3f.c2b1c8","b34456a7.89d3b8"]]},{"id":"16b6f588.73540a","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/pressure","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/pressure/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":440,"y":460,"wires":[["27d8418a.ce6d9e"]]},{"id":"1e1c7a5f.c79146","type":"function","z":"d9645a6.372faa8","name":"","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":500,"wires":[["f2abdb3f.c2b1c8","b34456a7.89d3b8"]]},{"id":"acef7548.df0e08","type":"ui_button","z":"d9645a6.372faa8","name":"reset chart","group":"226903ad.234f1c","order":1,"width":"1","height":"1","passthru":false,"label":"reset chart","tooltip":"Resets pressure chart.","color":"","bgcolor":"","icon":"fa-exclamation-triangle ","payload":"","payloadType":"str","topic":"","x":510,"y":500,"wires":[["1e1c7a5f.c79146"]]},{"id":"4b7301f3.b53c6","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- pressure -------------------------------------------------","info":"","x":690,"y":420,"wires":[]},{"id":"b34456a7.89d3b8","type":"ui_text","z":"d9645a6.372faa8","group":"8a829f57.12e84","order":0,"width":0,"height":0,"name":"pressure text","label":"pressure","format":"{{msg.payload}} hPa","layout":"col-center","x":990,"y":460,"wires":[]},{"id":"e5a88a6c.0d6338","type":"ui_chart","z":"d9645a6.372faa8","name":"particle_sensor chart","group":"e9279114.78348","order":0,"width":"4","height":"1","label":"particle sensor","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#61717b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":760,"wires":[[]]},{"id":"ff0c3dd3.4aa68","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"msg.payload = msg.payload.value['PM1_0'];\nmsg.topic   = \"PM 1.0\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["e5a88a6c.0d6338","8b5c14ac.d125c8"]]},{"id":"4ad854a1.af048c","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/particle_sensor","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/particle_sensor/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":460,"y":640,"wires":[["ff0c3dd3.4aa68","ae2cee15.ab16","b2221d97.0a186"]]},{"id":"d3302ccd.f50e5","type":"function","z":"d9645a6.372faa8","name":"","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":760,"wires":[["e5a88a6c.0d6338","8b5c14ac.d125c8"]]},{"id":"26b5eb7f.9509b4","type":"ui_button","z":"d9645a6.372faa8","name":"reset chart","group":"9b43a031.929a7","order":1,"width":"1","height":"1","passthru":false,"label":"reset chart","tooltip":"Resets particle sensor chart.","color":"","bgcolor":"","icon":"fa-exclamation-triangle ","payload":"","payloadType":"str","topic":"","x":530,"y":760,"wires":[["d3302ccd.f50e5"]]},{"id":"b4a31e82.98a4d","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- particle -------------------------------------------------","info":"","x":680,"y":600,"wires":[]},{"id":"ae2cee15.ab16","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"msg.payload = msg.payload.value['PM2_5'];\nmsg.topic   = \"PM PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":680,"wires":[["e5a88a6c.0d6338","8b5c14ac.d125c8"]]},{"id":"b2221d97.0a186","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"msg.payload = msg.payload.value['PM10'];\nmsg.topic   = \"PM 10\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":720,"wires":[["e5a88a6c.0d6338","8b5c14ac.d125c8"]]},{"id":"8b5c14ac.d125c8","type":"ui_chart","z":"d9645a6.372faa8","name":"particle_sensor chart","group":"8a829f57.12e84","order":0,"width":"1","height":"1","label":"particle sensor","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":640,"wires":[[]]},{"id":"c4d74bb8.d33da8","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/gps","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/gps/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":430,"y":900,"wires":[["e858b23.352925","d23390fb.515a5"]]},{"id":"bd7fe542.97c608","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- gps -------------------------------------------------","info":"","x":670,"y":860,"wires":[]},{"id":"e1c3f4c9.f30fb8","type":"ui_button","z":"7d52ee69.f1d72","name":"reset database","group":"dcb80e1f.10b8e","order":1,"width":"1","height":"1","passthru":false,"label":"Reset Database","tooltip":"Resets the entire database.","color":"","bgcolor":"","icon":"fa-exclamation-triangle ","payload":"","payloadType":"str","topic":"","x":440,"y":280,"wires":[["c385f015.ffa2c"]]},{"id":"e6f0a9a3.56d3c8","type":"comment","z":"d9645a6.372faa8","name":"------------------------------------------------- gps -------------------------------------------------","info":"","x":670,"y":1040,"wires":[]},{"id":"cfac8451.9c05b8","type":"mqtt in","z":"d9645a6.372faa8","name":"AllThingsTalk Broker asset/motion","topic":"device/NJKCG0bUaCETyBFUj1eEqYgN/asset/motion/#","qos":"2","datatype":"json","broker":"62b1530c.a9ae5c","x":440,"y":1080,"wires":[["f089ca76.8514a8"]]},{"id":"f089ca76.8514a8","type":"function","z":"d9645a6.372faa8","name":"extractValue","func":"return msg.payload;","outputs":1,"noerr":0,"x":770,"y":1080,"wires":[["c594a73d.f3c788"]]},{"id":"c594a73d.f3c788","type":"ui_gauge","z":"d9645a6.372faa8","name":"motion gauge","group":"9a75f25a.68a1c","order":0,"width":"1","height":"1","gtype":"wave","title":"motion gauge","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1080,"wires":[]}]